/* hobby page */

.hobby-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: auto auto; 
    gap: 20px; 
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.hobby-card {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.hobby-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hobby-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hobby-page h1 {
    font-size: 2.5em;
    text-align: center;
    padding-top: 2%;
}

.hobby-page p{
    font-size: 0.9em;
    line-height: 1.5;
    color: #666;
}

@media (max-width: 800px) {
    .hobby-grid {
        grid-template-columns: 1fr; 
        grid-template-rows: auto; 
    }

    .hobby-card {
        grid-template-columns: 1fr;
    }

    .hobby-card img {
        width: 100%;
    }
}